/* .userCreateForm {
  max-width: 100%;
  margin: 100px auto;
  padding: 24px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
} */

.form-field {
  width: 100%;
  margin-bottom: 0px;
}
