<div class="">
  <div class="bg-gray-200 p-2 flex items-center gap-2 mb-4">
    <span class="text-black font-semibold">Request-Approval</span>
    <button
      mat-raised-button
      color="primary"
      class="!text-blue-400"
      (click)="routeRequest()"
    >
      Return To List
    </button>
  </div>
  <div class="w-full overflow-x-auto bg-white rounded-lg shadow-md p-4">
    <table
      class="min-w-full table-auto text-sm text-left text-gray-700 relative"
    >
      <thead class="bg-gray-100 text-xs uppercase text-gray-600">
        <tr class="p-4">
          @for(item of displayedColumns;track item ){
          <th class="px-4 py-2">{{item}}</th>
          }
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        @if(requestData) {
        <tr class="cursor-pointer hover:bg-gray-100">
          <td class="px-4 py-2">{{requestData.user.firstname }}</td>
          <td class="px-4 py-2">{{ requestData.description }}</td>
          <td class="px-4 py-2">{{ requestData.status }}</td>
          <td class="px-4 py-2">{{ requestData.total}}</td>
        </tr>

        }
      </tbody>
      <br />
    </table>
  </div>
  <br />
  <div class="bg-gray-200 p-2 flex items-center gap-2 mb-4">
    <span class="text-black font-semibold">Line-Items</span>
  </div>
  <br />
  <div class="w-full overflow-x-auto bg-white rounded-lg shadow-md p-4">
    <table
      class="min-w-full table-auto text-sm text-left text-gray-700 relative"
    >
      <thead class="bg-gray-100 text-xs uppercase text-gray-600">
        <tr class="p-4">
          @for(item of displayedLineColumns;track item ){
          <th class="px-4 py-2">{{item}}</th>
          }
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        @if(filteredLineItems&& filteredLineItems.length > 0) { @for(item of
        filteredLineItems; track item; ) {
        <tr class="cursor-pointer hover:bg-gray-100">
          <td class="px-4 py-2">{{item.product.vendor.name }}</td>
          <td class="px-4 py-2">{{item.product.name }}</td>
          <td class="px-4 py-2">{{item.quantity }}</td>
          <td class="px-4 py-2">{{item.product.price}}</td>
          <td class="px-4 py-2">{{item.request.total}}</td>
          <td class="px-4 py-2">
            <div class="flex items-center gap-2">
              <button class="cursor-pointer" [disabled]="true">
                <mat-icon>description</mat-icon>
              </button>

              <button class="cursor-pointer" [disabled]="true">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
        </tr>

        } }
      </tbody>
      <br />
    </table>
  </div>
  <br />
  <div class="flex items-center gap-4">
    <button mat-raised-button color="primary" (click)="ApproveRequest()">
      Approve
    </button>

    <mat-form-field appearance="fill" class="flex-1">
      <mat-label>Rejection Reason</mat-label>
      <input
        matInput
        [formControl]="reasonControl"
        placeholder="Type reason to reject"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="warn"
      *ngIf="showRejectButton"
      (click)="rejectRequest()"
    >
      Reject
    </button>
  </div>
</div>
