<div class="">
  <div class="bg-gray-200 p-2 flex items-center gap-2 mb-4">
    <span class="text-black font-semibold">Product-Create</span>
    <button
      mat-raised-button
      color="primary"
      class="!px-3.5 !py-1.5 !text-xs !min-w-0 !h-auto !leading-none text-[#005cbb] cursor-pointer"
      (click)="routeProductList()"
    >
      Return To List
    </button>
  </div>

  <div class="userCreateForm p-2">
    <form [formGroup]="productForm" (ngSubmit)="handleSubmit()">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>PartNumber</mat-label>
        <input matInput formControlName="partNbr" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>PhotoPath</mat-label>
        <input matInput formControlName="photoPath" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Vendor</mat-label>
        <mat-select formControlName="vendor">
          @for(item of vendorList; track item ){
          <mat-option [value]="item.id"> {{ item.name }} </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div class="text-center my-4">
        <button mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
